3* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.top {
  background-color: black;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.container_top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contacts_link {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.call_back {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.contacts {
  display: flex;
  gap: 24px;
}
.company_about {
  background-color: black;
  opacity: 0.9;
}

.company_about_main {
  background-image: url(/img/background.png);
}

.menu_container {
  display: flex;
  justify-content: space-between;
}

.logo_name {
  text-transform: uppercase;
  color: #4f8ff0;
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
}

.logo_about {
  color: white;
}

.nav_link {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

nav {
  display: flex;
  gap: 32px;
}

.about_production {
  margin-top: 150px;
  text-align: center;
}

.about_production_p {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

h1 {
  text-transform: uppercase;
  color: #4f8ff0;
  font-weight: 600;
  font-size: 56px;
  line-height: 84px;
}

.about_production_text {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.products_btn {
  color: white;
  background-color: #4f8ff0;
  text-transform: uppercase;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 50px;
}

.slider {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-align: center;
  margin-top: 192px;
}

.our_products {
  background-color: #f7f7f7;
}

.products_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our_products_header {
  text-transform: uppercase;
  padding-top: 80px;
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
}

.our_products_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 920px;
  margin-top: 24px;
  text-align: center;
}

.our_products_grid {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 424px 424px 424px;
  grid-template-rows: 250px 250px 250px;
  column-gap: 24px;
  row-gap: 38px;
}

.card_header {
  margin-top: 15px;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

.card_text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product_card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.text_about_product {
  max-width: 360px;
  text-align: center;
}

.product_img {
  margin-top: 50px;
}

.product_card:hover {
  background-color: #4f8ff0;
  color: white;
}

.legal_about_header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
}

.legal_container {
  display: flex;
}

.legal_about_text_div {
  max-width: 720px;
}
