* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.grid {
  max-width: 1320px;
  margin: 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 38px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-company__wrapper {
  display: flex;
  gap: 64px;
}
.about-company__buttons {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.our-personal__text {
  max-width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.our-personal__showcase {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.feedback__main {
  margin: 0 auto;
  max-width: 1320px;
}
.feedback__flex {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.feedback__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.feedback__links {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.useful-materials__wrapper {
  max-width: 1320px;
  margin: 0 auto;
}
.useful-materials__flex-container {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.useful-materials__item {
  height: 481px;
  display: flex;
  flex-direction: column;
}
.useful-materials__item-subtitle {
  flex-grow: 2;
}
.useful-materials__subtitle {
  max-width: 920px;
  margin: 24px auto 0;
}

.logo-block {
  max-width: 1320px;
  margin: 0 auto;
}
.logo-block__wrapper {
  display: flex;
  align-items: center;
  gap: 182px;
}

.bottom__wrapper {
  max-width: 1320px;
  margin: 48px auto 0;
  display: flex;
  gap: 141px;
}
.bottom__menu-and-question {
  display: flex;
  align-items: start;
  gap: 24px;
}
.bottom__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.bottom__address, .bottom__registation, .bottom__correspondence {
  display: flex;
  gap: 24px;
}
.bottom__menu-and-question {
  display: flex;
  gap: 24px;
}

.bottom-menu {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ask-question__about-lawyer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.ask-question__wrapper {
  max-width: 424px;
}

.legal {
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
}

.header {
  background-image: url("../img/background.png");
  background-size: cover;
}

.black-color {
  background-color: black;
  opacity: 0.76;
}

.contacts {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__main {
  display: flex;
  gap: 24px;
}
.contacts__link {
  text-decoration: none;
  font-weight: 600;
  size: 14px;
  line-height: 16.8px;
  color: white;
}
.contacts__link-feedback {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #4f8ff0;
}

.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
.top-block__menu {
  display: flex;
  gap: 32px;
}
.top-block__logo-name {
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
  color: #4f8ff0;
  text-transform: uppercase;
}
.top-block__logo-subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.top-block__menu-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
}

.showcase {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.showcase__subtitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  color: white;
}
.showcase__title {
  margin-top: 8px;
  text-transform: uppercase;
  color: #4f8ff0;
  font-weight: 600;
  font-size: 56px;
  line-height: 84px;
}
.showcase__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 1090px;
  color: white;
}
.showcase__products {
  max-width: 200px;
  margin: 48px auto 268px;
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.showcase__products:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}

.our-products {
  background-color: #f7f7f7;
  padding: 80px 0;
}

.our-products-text__wrapper {
  text-align: center;
}
.our-products-text__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
}
.our-products-text__subtitle {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #222222;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  background-color: #fff;
  padding: 100px 32px 59px 32px;
  transition: 0.2s;
  cursor: pointer;
}
.grid-item:hover {
  background: #4f8ff0;
  color: #fff;
}
.grid-item:hover .lt {
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.grid-item:hover .lb {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.grid-item:hover .rt {
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.grid-item:hover .rb {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.grid-item:hover path {
  fill: white;
}
.grid-item__text {
  max-width: 360px;
}
.grid-item__title {
  margin-top: 15px;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.grid-item__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
}

.our-prodcuts-btn {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.our-prodcuts-btn:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}

.lt,
.lb,
.rt,
.rb {
  width: 35px;
  height: 35px;
}

.lt {
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: 1px solid #4f8ff0;
  border-left: 1px solid #4f8ff0;
}

.lb {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid #4f8ff0;
  border-left: 1px solid #4f8ff0;
}

.rt {
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid #4f8ff0;
  border-right: 1px solid #4f8ff0;
}

.rb {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-right: 1px solid #4f8ff0;
  border-bottom: 1px solid #4f8ff0;
}

.about-company {
  background-color: #fff;
  padding: 80px 0;
}

.about-company__wrapper {
  max-width: 1320px;
  margin: 0 auto;
}
.about-company__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
}
.about-company__logo {
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
  color: #4f8ff0;
  text-transform: uppercase;
}
.about-company__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #222222;
  text-align: center;
  text-align: left;
  margin-top: 20px;
}
.about-company__history, .about-company__certificates {
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  max-width: 215px;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.about-company__history:hover, .about-company__certificates:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}
.about-company__img {
  box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}

.our-personal {
  padding: 80px 0;
  background-color: #f7f7f7;
}

.our-personal__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
}
.our-personal__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #222222;
  text-align: center;
  margin-top: 24px;
}
.our-personal__showcase {
  margin-top: 48px;
}
.our-personal__item {
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
}
.our-personal__personal-name {
  margin-top: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}
.our-personal__specialization {
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 24px;
}

.our-personal__overlay {
  position: absolute;
  opacity: 0;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}
.our-personal__overlay:hover {
  opacity: 1;
}

.our-personal__overlay-name {
  margin-top: 83px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}
.our-personal__overlay-class {
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
}
.our-personal__overlay-text {
  margin: 40px auto 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  max-width: 265px;
}
.our-personal__overlay-practice {
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

.feedback {
  padding: 80px 0;
  background-image: url("../img/feedback_back.png");
  background-size: cover;
}

.feedback__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
}
.feedback__item {
  background-color: #fff;
  max-width: 584px;
  padding: 32px;
  box-sizing: content-box;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.feedback__costumer-info {
  width: 401px;
}
.feedback__costumer-company {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  text-align: start;
}
.feedback__costumer-name {
  margin-top: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
}
.feedback__text {
  margin-top: 16px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
}
.feedback__costumer-photo {
  border-radius: 50%;
}
.feedback__btn {
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  max-width: 200px;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.feedback__btn:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}

.useful-materials {
  padding: 80px 0;
}

.useful-materials__text {
  text-align: center;
}
.useful-materials__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
}
.useful-materials__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #222222;
  text-align: center;
}
.useful-materials__item-title {
  margin-top: 24.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.useful-materials__date {
  margin-top: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14.4px;
}
.useful-materials__item-subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}
.useful-materials__link {
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  max-width: 160px;
  margin: 48px auto 0;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.useful-materials__link:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}

.useful-materials__images {
  position: relative;
}

.useful-materials__eye {
  position: absolute;
  top: 115px;
  right: 192px;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
}

.useful-materials__item:hover .useful-materials__eye {
  opacity: 1;
}
.useful-materials__item:hover .useful-materials__corners {
  opacity: 1;
}
.useful-materials__item:hover .useful-materials__image-hover {
  opacity: 0.6;
}

.useful-materials__corners {
  opacity: 0;
  transition: 0.3s;
}

.useful-materials__lb,
.useful-materials__lt,
.useful-materials__rt,
.useful-materials__rb {
  width: 35px;
  height: 35px;
  position: absolute;
}

.useful-materials__lb {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  left: 20px;
  bottom: 20px;
}

.useful-materials__lt {
  border-left: 1px solid white;
  border-top: 1px solid white;
  left: 20px;
  top: 20px;
}

.useful-materials__rt {
  border-right: 1px solid white;
  border-top: 1px solid white;
  right: 20px;
  top: 20px;
}

.useful-materials__rb {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  right: 20px;
  bottom: 20px;
}

.useful-materials__image-hover {
  background-color: #4f8ff0;
  width: 424px;
  height: 270px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.bottom {
  padding: 80px 0;
  background-color: #222222;
}

.logo-block__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
  color: #4f8ff0;
  text-transform: uppercase;
}
.logo-block__subtitle {
  margin-top: -10px;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.logo-block__slogan {
  max-width: 862px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: white;
}
.logo-block__line {
  margin-top: 48px;
}

.bottom__text-at-the-top {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  text-transform: uppercase;
  color: #8c8c8c;
}
.bottom__text-at-the-end {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.bottom-menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}

.ask-question__photo-lawyer {
  border-radius: 50%;
}
.ask-question__lawyer-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.ask-question__lawyer-class {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: white;
}
.ask-question__text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
.ask-question__link {
  margin-top: 24px;
  display: block;
  text-align: center;
  background-color: #4f8ff0;
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  max-width: 245px;
  transition: 0.2s;
  border: 2px solid #4f8ff0;
}
.ask-question__link:hover {
  background-color: #fff;
  color: #4f8ff0;
  border: 2px solid #4f8ff0;
}

.down {
  background-color: black;
  padding: 16px 0;
}

.legal__rights, .legal__NDA {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.8px;
}/*# sourceMappingURL=style.css.map */